body {
    margin:0;
    padding: 0;
}


.editor {
    width : 100vw;
    height: 100vh;
    background: yellow;
    position: fixed;
    top: -100vh;

    
}

.editor.show {
    top:0;
}


.head-filter{
    display: flex;
}

.head-filter li{
    color: red;
    cursor: pointer;
    padding: 10vh;

}

canvas {
    border:1px solid #000000;
}

.clean-list {
    list-style-type:none;
    margin: 0;
   
    
}