@font-face {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    src: url('../fonts/impact.ttf');
}

body {
    margin:0;
    padding: 0;
}



.clean-list {
    list-style-type:none;
    margin: 0;
}




/* header */
header {
    height: 63px;
    background-color: #323232;
    position: relative;

}

.triangle {
    top: 100%;
    position: absolute;
    width: 0;
    border-top: 30px solid #323232;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
    margin: 0 auto;
    left: 0; 
    bottom: 0; 
    right: 0;

}

/* EDITOR */
.editor {
    width : 100vw;
    background: #404040;
    position: relative;
    top: -100vh;
    display: none;
    justify-content: space-around;
    align-items: center;

    
}

.back-to-gallery{
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: aqua
}

.hide {
    display: none;
}

.editor.show {
    top:0;
    z-index: 1;
    display: flex;

}
canvas {
    border:1px solid #404040;
    object-fit: contain;
}

.control-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #c1c4c5;
    width: 300px;
}

.download-img{
cursor: pointer;
display: flex;
justify-content: space-around;
align-items: center;
color: aqua
}

.txt {
    background-color: #bcc0c1;
    border: 1px solid #6d706f;
}
    
.btn {
    color: #c1c4c5;
    border: 0;
    cursor: pointer;
    width: 100%;
    border: 1px solid #757575;
    background: #6b6b6b;
}

.btn.disabled {
    background: #ecd9d969;
    color: #a5a584;}

.color {
    background: #5d5d5d;

}
.main-control {
    display: flex;
    width: 100%;
    justify-content: stretch;
}
.color {
    width: 100%;
    border: 1px solid #757575;
}
.lines-toggle {
    display: flex;
}

.pos-control {
    display: flex;
}
i {
    border: solid #c1c4c5;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}


/* head filter */
.filter-list {
    width: 100%;
}
.head-filter{
    display: flex;
    flex-wrap: wrap;

}
.head-filter li {
    padding: 20px;;
    color: red;
    cursor: pointer;
}

.font-size1{
    font-size: 25px
}
.font-size2{
    font-size: 20px
}
.font-size3{
    font-size: 17px
}
.font-size4{
    font-size: 14px
}
.font-size5{
    font-size: 10px
}



/* // footer */

footer {
    background:  #2eb398;
}